<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments Show</title>
</head>
<body>
    <h1>Comments Show Page</h1>
    <nav>
        <%- include('./partials/nav.ejs')%>
    </nav>

    <p>Name: <%=comment.name%></p>
    <p>Comment: <%=comment.comment%></p>
    <p>Been here before? : <%=comment.beenHereBefore%></p>

    <a href="/comments/<%=comment._id%>/edit">Edit Comment</a>

    


    <form method="POST" action="/comments/<%=comment._id%>?_method=DELETE">
            <input type="submit" value="Delete <%=comment.name%>">
        </form>
    
    
</body>
</html>