<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tampa</title>
</head>
<body>
    <h1>Tampa Home Page</h1>
    <nav>
        <%- include('./partials/nav.ejs')%>
    </nav>
    <div class="responsive-container">

        <div class="topic"> <u>Restaurants</u> 
            <% for(let i = 0; i < restaurants.length; i++) { %>
                <p>Name : <%= restaurants[i].name%></p>
                <p>Location : <%= restaurants[i].location%></p>
                <p>Hours : <%= restaurants[i].hours%></p>
                <br>
            <% } %>
        </div>
        <div class="topic"> <u>Landmarks</u> 
            <% for(let i = 0; i < landmarks.length; i++) { %>
                <p>Name : <%= landmarks[i].name%></p>
                <p>Location : <%= landmarks[i].location%></p>
                <p>Hours : <%= landmarks[i].hours%></p>
                <br>
            <% } %>
        </div>
        
        <div class="topic"> <u>Events</u> 
        <% for(let i = 0; i < events.length; i++) { %>
            <p>Name : <%= events[i].name%></p>
            <p>Location : <%= events[i].location%></p>
            <p>Hours : <%= events[i].hours%></p>
            <br>
        <% } %>
        </div>

        <div>
            <a href="/comments/new">Comment about TPA</a>
        </div>
    </div>




<style>
     .responsive-container {
   display: grid;
   grid-gap: 1%;
   grid-template-columns: repeat(6, 1fr);
   padding: 0;
   margin-bottom: 25px;
 }

     .topic {
   border: 3px solid black;
   height: 800px;
   list-style-type: none;
   padding: 0;
 }

 @media (min-width: 400px) {
     .responsive-container {
     grid-template-columns: repeat(4, 1fr);
   }
 }
       
</style>
</body>
</html>